@charset "utf-8";


@media only screen and
(max-width : 1300px) {
	
	h1
	{
		font-size:11.25vw;
	}
	p.drop-us-a-line em	
	{
		font-size:7vw;
	}
}

@media only screen and
(max-width : 480px) {

	body
	{
		padding-top:50px;
		font-size:200%;
	}
	h1
	{
		font-size:200%;
		padding-bottom:20px; /* bicho */
	}
	
	h1,
	ul.our-men,
	p.drop-us-a-line,
	p.our-place
	{
		margin-bottom:20px;
	}
	h1 span
	{
		display:block;
	}
	
}