@charset "utf-8";

@font-face
{
	font-family:'ApercuBold';
	src:url('apercubold.ttf') format('truetype');
}
html
{
	background:url(cover.gif) center center no-repeat fixed black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
html#subtle
{
	background-image:url(cover-subtle.gif);
}
body
{
	font-family:'ApercuBold';
	color:#fff;
	text-align:center;
}
::selection
{
	background:#f00;
	color:#fff;
}
body
{
    animation-duration: 5.0s;
    animation-name: fade-in;
}
a,
p.drop-us-a-line em
{
	transition: background-color 0.18s linear;
}
a:link,
a:visited {
	color:#fff;
	background-color:transparent;
}
a:hover,
a:active {
	color:#fff;
	background-color:#f00;
}


/* -- */

*
{
	margin:0;
	padding:0;
}
body
{
	max-width:1300px;
	margin:0 auto;
	padding-top:40px;
	font-size:400%;
}
h1
{
	font-weight:bold;
	font-size:270%;
}
ul.our-men li
{
	text-decoration:none;
	display:inline-block;
}
ul.our-men li a,
p.drop-us-a-line em
{
	padding:0 10px;
}
.our-men,
.our-place
{
	font-size:65%;
}
p.our-place a
{
	font-size:70%;
}

p.drop-us-a-line em
{
	background:rgba(255, 0, 0, 0.8);
}
p.drop-us-a-line em:hover
{
	background:rgba(255, 255, 0, 0.8);
}
h1,
ul.our-men,
p.drop-us-a-line,
p.our-place
{
	margin-bottom:40px;
}

/* -- */

@keyframes fade-in {
      0% {
        display: none;
        opacity: 0;
      }

      1% {
        display: block;
        opacity: 0;
      }

      100% {
        display: block;
        opacity: 1;
      }
    }

/*    @-moz-keyframes fade-in {
      0% {
        display: none;
        opacity: 0;
      }

      1% {
        display: block;
        opacity: 0;
      }

      100% {
        display: block;
        opacity: 1;
      }
    }

    @-webkit-keyframes fade-in {
      0% {
        display: none;
        opacity: 0;
      }

      1% {
        display: block;
        opacity: 0;
      }

      100% {
        display: block;
        opacity: 1;
      }
    }*/
}