@charset "utf-8";


@media only screen and
(max-width : 1000px) {
	
	h1
	{
		font-size:13.25vw;
		letter-spacing:-10px;
	}
	.guests li a
	{
		font-size:30px;
	}
}

@media only screen and
(max-width : 640px) {

	body
	{
		padding:20px;
	}
	h1
	{
		font-size:17vw;
		letter-spacing:-5px;
		margin-bottom:10px;
	}
}